
@{
    ViewBag.Title = "Index";
}

<div id="grid"></div>

    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    type: "webapi",
                    transport: {
                        read: {
                            url:"/api/JoinAPI/Test_GetAll"
                        }, create: {
                            type: "post",
                            url: "/api/JoinAPI/Create",
                            complete: function (e) { $("#grid").data("kendoGrid").dataSource.read();}
                        }
                    },
                    schema:
                    {
                        data: "Data",
                        total: "Total",
                        model: {
                            id: "Id",
                            fields: {
                                Id: { type:"number"},
                                name: { type:"string"},
                                dept: { type:"string"}
                            }
                        }
                    },
                    pageSize: 20
                },
                height: 550,
                groupable: true,
                sortable: true,
                editable: {
                    mode:"popup"
                },
                pageable:{
                    refresh: true,
                    pageSizes: true,                       
                },
                columns:[{
                    field: "name",
                    title: "名字"
                    },
                    {
                    field: "dept",
                    title: "部門"
                }]
                , toolbar: [{name:"create",text:"新增一筆資料"}]
            });
        });
    </script>
